
[JEXTFILEUPLOAD] [uitit]{font-size:14px; padding-left:20px; box-shadow:0 0 6px rgba(0,0,0,.4); height:45px; line-height:44px; }
[JEXTFILEUPLOAD] [uibox]{top:46px;}
[JEXTFILEUPLOAD] [uibox] [list]{padding:10px;}
[JEXTFILEUPLOAD] [uibox] [list] [file]{margin:1.5%; width:17%;}
[JEXTFILEUPLOAD] [uibox] [list] [file]:after{content:''; display:block; padding-top:110%;}
[JEXTFILEUPLOAD] [uibox] [list] [file] [m-pic]{border:1px solid #bbb; border-radius:3px;}
[JEXTFILEUPLOAD] [uibox] [list] [file] [m-pic] img{max-width:80%; max-height:80%;}
[JEXTFILEUPLOAD] [uibox] [list] [file] [jd]{top:auto; padding:9px; color:#fff; background:rgba(0, 0, 0, .6); text-align:center; font-size:12px; line-height:1;}
[JEXTFILEUPLOAD] [uibox] [list] [file=add] [m-pic]{border-color:#3daafc; background:#e1f2ff; opacity:.6;}
[JEXTFILEUPLOAD] [uibox] [list] [file=add] i{width:60px; border-top:1px solid #3daafc; height:0;}
[JEXTFILEUPLOAD] [uibox] [list] [file=add] i:after{height:60px; border-left:1px solid #3daafc; display:inline-block; position:relative; top:-30px; content:'';}