
[file-selector][data-is-one]{width:60px; height:60px; border-radius:3px; border:1px dashed #ddd; cursor:pointer; background:#f9f9f9; position:relative;}
/*[file-selector][data-is-one]:after{padding-top:100%; content:''; display:block;}*/
[file-selector][data-is-one] img{max-width:80%; max-height:80%;}
[file-selector][data-is-one] i{height:26px; width:2px; background:#ccc; display:inline-block; vertical-align:middle;}
[file-selector][data-is-one] i:after{width:26px; height:2px; background:#ccc; content:''; display:block; margin:12px auto auto -12px;}

[file-selector][data-is-one="100"]{width:100px; height:100px;}
[file-selector][data-is-one="100"] i{height:32px; width:4px;}
[file-selector][data-is-one="100"] i:after{width:32px; height:4px; margin:14px auto auto -14px;}