
[FSUpload]{box-shadow:0 0 9px rgba(0,0,0,.5); border-radius:4px; left:10px; bottom:10px; background:#fff; height:350px; width:460px; z-index:9; position:absolute;}
[FSUpload] > [closes]{line-height:36px; text-align:center; width:36px; right:0; top:0;}
[FSUpload] > [mcscroll]{top:30px; bottom:9px;}
[FSUpload] [ul]{padding:10px;}
[FSUpload] [ul] [file]{margin:1.5%; width:22%;}
[FSUpload] [ul] [file]:after{content:''; display:block; padding-top:110%;}
[FSUpload] [ul] [file] [m-pic]{border:1px solid #bbb; border-radius:3px;}
[FSUpload] [ul] [file] [m-pic] img{max-width:80%; max-height:80%;}
[FSUpload] [ul] [file] [jd]{top:auto; padding:9px; color:#fff; background:rgba(0, 0, 0, .6); text-align:center; font-size:12px; line-height:1;}
[FSUpload] [ul] [file] [jd] > div{background:rgb(79, 164, 223, .4); right:auto;}