.el-password-eye{position: absolute;top:0;right:0;bottom: 0;}
.el-password-eye .svg{fill: #999;}
.el-password-eye.cur .svg:nth-child(1){display:none;}
.el-password-eye.cur .svg:nth-child(2){display:inline-block;}